body {
    font-family: sans-serif;
    width: 1200px;
    margin: 0 auto;
    border: 2px solid steelblue;
    box-shadow: 10px 10px 10px black;
}

header {
    background: linear-gradient(to bottom, white, lightsteelblue);
    border-bottom: 2px solid steelblue;
    padding: 10px;
    text-align: center;
}

header img {
    float: left;
    margin-right: 10px;
}

header h1 {
    color: steelblue;
    font-size: 2.5rem;
    font-style: italic;
    text-shadow: 1px 1px 2px steelblue;
}

h2, h3 {
    color: maroon;
    margin: 10px 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

aside {
    width: 245px;
    margin-right: 20px;
}

#sidebar1 {
    float: left;
}

#sidebar2 {
    float: right;
}

section {
    flex: 1;
    margin: 0 20px;
}

aside h2 {
    color: maroon;
}

footer {
    background-color: steelblue;
    clear: both;
}
footer p {
    text-align: center;
    color: white;
    padding: 1em 0;
}


